<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559483551082-h8mjdee4e2cqi1v57gthtoncfc7nj2qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559483551082-h8mjdee4e2cqi1v57gthtoncfc7nj2qi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559483551082-mvcfsqi7pfq5iodi3q57icjbtr76val8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPex5YcZKmLWrQLGDWZWGKK6tvqMu0oz0</string>
	<key>GCM_SENDER_ID</key>
	<string>559483551082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>eternity-697ed</string>
	<key>STORAGE_BUCKET</key>
	<string>eternity-697ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559483551082:ios:c15f04d7af9ade8723b913</string>
</dict>
</plist>